[user]
	name = Owen Smith
	email = owen@omsmith.ca
	signingkey = D434EE39
[push]
	default = matching
[color]
	ui = true
[core]
	editor = vim
[diff]
	compactionHeuristic = true
[commit]
	gpgsign = true
[trailer "pr"]
	key = "PR-URL: "
	ifmissing = add
	ifexists = doNothing
[alias]
	pr = "!f() { GIT_EDITOR=\"git interpret-trailers --trailer pr=\\\"${1}\\\" --in-place\" git commit --amend; }; f"
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
