[user]
	name = Owen Smith
	email = owen@omsmith.ca
	signingkey = D434EE39
[push]
	default = matching
[color]
	ui = true
[core]
	editor = vim
[diff]
	compactionHeuristic = true
[commit]
	gpgsign = true
